<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/booking/book-call/">Book a Call</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 My Company</p>
    </footer>
    {% block js %}
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
</body>
</html>
